{% extends "base.html" %}
{% block styling %}
body{
    {{ super() }}
    background: white;
}
{% endblock %}
{% block content %}
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <div class="border rounded-5 p-4">
                        <section class="w-100 d-flex justify-content-center">
                            <form method="post" style="width: 22rem;" novalidate>
                                {{ form.csrf_token }}

                                <!-- Email input -->
                                {% if form.email.errors %}
                                <ul class="errors">
                                    {% for error in form.email.errors %}
                                    <li style="color: red;">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}

                                <div class="form-floating mb-4">
                                    {{ form.email(class="form-control", id="email") }}
                                    {{ form.email.label(class="form-label") }}
                                </div>

                                <!-- Password input -->
                                {% if form.password.errors %}
                                <ul class="errors">
                                    {% for error in form.password.errors %}
                                    <li style="color: red;">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}

                                <div class="form-floating mb-4">
                                    {{ form.password(class="form-control", id="password") }}
                                    {{ form.password.label(class="form-label") }}
                                </div>

                                <!-- Submit button -->
                                {{ form.submit(class="btn btn-primary btn-block mb-4 w-100") }}

                                <!-- Register link -->
                                <div class="text-center">
                                    <p>Not a member? <a href="#!">Register</a></p>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}